# Use PyTorch CUDA 12.4 build (GPU)
--index-url https://download.pytorch.org/whl/cu124

# Pin torch first so other deps don't upgrade it
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1

# Rest of your stack
python-dotenv
langchain-groq==0.3.2
langchain==0.3.25
langchain_ollama==0.3.8
langgraph==0.5.3
tqdm==4.67.1
langchain-community==0.3.24
transformers==4.57.1
sentence-transformers==2.6.1
tokenizers==0.22.1
huggingface-hub==0.35.3
langchain_huggingface==0.2.0
faiss-cpu==1.12.0
newspaper3k==0.2.8
pandas==2.3.3