#Installing torch depends on your specific CUDA version and system configuration.
--index-url https://download.pytorch.org/whl/cu126
torch==2.9.0+cu126
torchvision==0.24.0+cu126

# Rest of your stack
python-dotenv==1.1.1
langchain-groq==0.3.2
langchain==0.3.25
langchain_ollama==0.3.8
langgraph==0.6.7
tqdm==4.67.1
langchain-community==0.3.24
transformers==4.57.1
sentence-transformers==2.6.1
tokenizers==0.22.1
huggingface-hub==0.35.3
langchain_huggingface==0.2.0
faiss-cpu==1.12.0
newspaper3k==0.2.8
pandas==2.3.3
lxml_html_clean==0.4.3
tavily==1.1.0